{% extends "layout.html" %}

{% block content %}

    <div id="home-page-div">
        <div class="row" id="bandcamp-sidebar-row-div">
            <div class="col-lg-9 col-md-7 col-sm-12">
                <div id="carousel-div" class="carousel slide ps-top-to-bottom" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#carousel-div" data-slide-to="0" class="active"></li>
                        <li data-target="#carasoul-div" data-slide-to="1"></li>
                        <li data-target="#carasoul-div" data-slide-to="2"></li>
                        <li data-target="#carasoul-div" data-slide-to="3"></li>
                        <li data-target="#carasoul-div" data-slide-to="4"></li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="img-fluid" src="{{ url_for('static', filename="img/carousel/car1.jpg") }}">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ url_for('static', filename="img/carousel/car2.jpeg") }}">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ url_for('static', filename="img/carousel/car3.jpg") }}">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ url_for('static', filename="img/carousel/car4.jpg") }}">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid" src="{{ url_for('static', filename="img/carousel/car5.jpg") }}">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel-div" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-div" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-12" id="bandcamp-sidebar">
                  <div class="row">
                    <div id="bandcamp-div-payphone" class="col-12">
                        <iframe class='bc-player' style="border: 0; width: 350px; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=1699322700/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/transparent=true/" seamless>
                            <a href="http://hellareptilian.bandcamp.com/track/shiny-new-payphone">shiny new payphone by Hella Reptilian!</a>
                        </iframe>
                    </div>
                </div>
                <div class="row">
                    <div id="bandcamp-div-soho" class="col-12">
                        <iframe class='bc-player' style="border: 0; width: 350px; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=1970933340/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless>
                            <a href="http://hellareptilian.bandcamp.com/track/sohodo">SoHoDo by Hella Reptilian!</a>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>

{% endblock %}