{% extends "layout.html" %}

{% block title %}tour_dates{% endblock %}

{% block header %}{{ super() }}{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='tour_dates_script.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="row align-columns center">
        <div class="col-md-2 com-sm-1"></div>
        <div class="col-md-8 col-sm-10">
            <table class="table table-bordered" id="tour_dates_table">
                <thead>
                    <tr>
                        <th>date</th>
                        <th>venue</th>
                    </tr>
                </thead>
                <tbody>

                    {% for show in shows %}
                        <tr>
                            <td>{{ show.show_date }}</td>
                            <td>{{ show.show_venue }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
            <form class="form" action="{{ url_for('tour_dates') }}" method="post">
                <div class="form-group">
                    <div class="btn-group special form-group" data-toggle="buttons">
                        <label class="btn control-label">
                            <input type="radio" name="actions" value="add" class="form-control act">add_show</label>
                        <label class="btn control-label">
                            <input type="radio" name="actions" value="upd" class="form-control act">modify</label>
                        <label class="btn control-label">
                            <input type="radio" name="actions" value="del" class="form-control act">cancel</label>
                    </div>
                    <fieldset class="form-group">
                        <div class="form-group row">
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group row">
                                    <label class="col-6 col-form-label control-label" for="show_date_input">show_date</label>
                                    <div class="col-6">
                                        <input type="date" id="show_date_input" name="show_date" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group row">
                                    <label class="col-6 col-form-label control-label" for="show_venue_input">show_venue</label>
                                    <div class="col-6">
                                        <input type="text" id="show_venue_input" name="show_venue" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <button type="submit" class="btn" id="tour_submit">press_record</button>
                            </div>
                            <div class="form-group hidden">
                                <label class="control-label" for="show_orig_date"></label>
                                <input type="date" id="show_orig_date" name="show_orig_date" class="form-control">
                            </div>
                            <div class="form-group hidden">
                                <label class="control-label" for="show_orig_venue"></label>
                                <input type="text" id="show_orig_venue" name="show_orig_venue" class="form-control">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
        <div class="col-md-2 col-sm-1"></div>
    </div>

    {# https://stackoverflow.com/a/38796378 #}

    {% for message in get_flashed_messages() %}
        <p class="flashed_message">{{ message }}</p>
    {% endfor %}

{% endblock %}